@font-face {
  font-family: 'kl_icons';
  src: url('../font/kl_icons.eot?54743042');
  src: url('../font/kl_icons.eot?54743042#iefix') format('embedded-opentype'),
       url('../font/kl_icons.woff?54743042') format('woff'),
       url('../font/kl_icons.ttf?54743042') format('truetype'),
       url('../font/kl_icons.svg?54743042#kl_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
